header {  
    width: 100%;
    height: 80px;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 32px;
        padding-top: 20px;
        font-weight: 400;
        color: #000;
    }
}
